<div class="ibox-content" style="border-top: 0;" [class.sk-loading]="loading">
    <sk-three-bounce></sk-three-bounce>
    <div class="row m-b-sm">
        <div class="col-lg-12">
            <div *ngIf="datos">
                <form class="form-horizontal">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Código </label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input [ngModel]="item.idEvento" type="text" class="form-control" name="id"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Título </label>
                            <div class="col-sm-9">
                                <div class="input-group col-sm-10">
                                    <input type="text" autocomplete="off" class="form-control" name="nombre"
                                        maxlength="30" [(ngModel)]="item.titulo"
                                        onkeypress="return /^[a-zA-Z1-9\s]*$/i.test(event.key)">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">Tipo</label>
                            <div class="col-sm-8">
                                <ng-select [items]="itemsTipoEvento" bindLabel="nombre"
                                    placeholder="Seleccionar Tipo de Evento" name="TipoEvento" autocomplete="off"
                                    [clearable]="false" [(ngModel)]="item.tipoEvento">
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Descripcion </label>
                            <div class="col-sm-8">
                                <textarea oninput="this.value = this.value.toUpperCase()" class="form-control"
                                    name="descripcion" [(ngModel)]="item.descripcion" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Lugar </label>
                            <div class="col-sm-8">
                                <ng-select [items]="itemsLugar" bindLabel="descripcion" placeholder="Seleccionar Lugar"
                                    name="Lugar" [clearable]="false" [(ngModel)]="item.lugar">
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha Inicio:</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input bsDatepicker #dp1="bsDatepicker" name='fechaInicio'
                                        [(bsValue)]="item.fechaInicio" autocomplete="off"
                                        (bsValueChange)="DetectInicio()"
                                        value="{{ item.fechaInicio | date:'dd/MM/yyyy' }}" type="text"
                                        class="form-control">
                                    <span class="input-group-addon" (click)="dp1.toggle()"
                                        [attr.aria-expanded]="dp1.isOpen"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha Fin:</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input bsDatepicker #dp2="bsDatepicker" name='fechaFin' [(bsValue)]="item.fechaFin"
                                        autocomplete="off" (bsValueChange)="DetectFin()"
                                        value="{{ item.fechaFin | date:'dd/MM/yyyy' }}" type="text"
                                        class="form-control">
                                    <span class="input-group-addon" (click)="dp2.toggle()"
                                        [attr.aria-expanded]="dp2.isOpen"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Presidente </label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" name="nombrePresidente"
                                    [(ngModel)]="nombrePresidente" readonly>
                                <!-- <ng-select [(items)]="itemsPersona" bindLabel="fullName" name="Presidente"
                                    placeholder="Seleccionar Presidente" [clearable]="false"
                                    [(ngModel)]="item.presidente">
                                </ng-select> -->
                            </div>
                            
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-success m-r" (click)="OnAgregarPresidente()"><i
                                    class="fa fa-user"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Categorias </label>
                            <div class="col-sm-8">
                                <ng-select [items]="itemsCategorias" bindLabel="descripcion"
                                    placeholder="Seleccionar Categorias" name="Categorias" [clearable]="false"
                                    [(ngModel)]="categoriaSeleccionada">
                                </ng-select>
                            </div>
                            <span class="input-group-btn col-sm-1">
                                <button class="btn btn-info" (click)="agregarCategoria()"><i
                                        class="fa fa-plus"></i></button>
                            </span>
                        </div>
                        <div class="row col-sm-10 pull-right" style="height: 200px; overflow: auto">
                            <table *ngIf="item.categorias.length>0" class="table">
                                <thead>
                                    <th class="text-left">Codigo</th>
                                    <th class="text-left">Descripción</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of this.item.categorias; let i = index">
                                        <th class="text-left">{{data.codigo}}</th>
                                        <th class="text-left">{{data.descripcion}}</th>
                                        <th>
                                            <button class="btn btn-danger" (click)="onEliminarCategoria(i)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <button type="button" class="btn btn-success m-r" (click)="onGuardar()"><i
                                    class="fa fa-save"></i>
                                Guardar</button>
                            <button type="button" class="btn btn-danger" (click)="onCancelar()"><i class="fa fa-arrow-left"></i>
                                Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <script>
        function alphaOnly(event) {
            var key = event.keyCode;
            return ((key >= 65 && key <= 90) || key == 8);
        }
    </script>


    <div *ngIf="isModalShownPresidente" [config]="{ show: true }" (onHidden)="OnHiddenPresidente()" bsModal
        #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
        <div class="modal-dialog modal-sm" style="width: 400px;">
            <div class="modal-content" >
                <div class="modal-header">
                    <h3 id="dialog-auto-name" class="modal-title pull-left">Filtro usuarios</h3>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModalPresidente()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">&nbsp;</div>
                    <br>
                    <div class="row col-sm-8">
                        <div class="col-sm-4 pull-left">Nombre</div>
                        <div class="col-sm-8"><input type="text" [(ngModel)]="nombreUsuario" name="nombreUsuario"
                            (input)="buscarUsuario()"></div>
                    </div>
                </div>
                <div class="modal-body" style="overflow: hidden;">
                    <div class="row col-sm-12" style="height: 500px; overflow-y: scroll;overflow: auto;">
                        <div class="list-group">
                            <button type="button" class="list-group-item list-group-item-action"
                                *ngFor="let data of maestroUsuariosFilter" (click)="ElegirPresidente(data)">
                                {{data.fullName}}
                            </button>
                        </div>                 
                    </div>                    
                    <div class="row">
                        <div class="col-sm-12 text-center m-t-sm">
                            <button (click)='OnAceptarPresidente()' class="btn btn-primary container-button"><i
                                    class="fa fa-check"></i> Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>