table {
  tr{
    td[data-col='codigo'] {width: 10%;}
    td[data-col='categoria'] {width: 60%;}
    td[data-col='editar'] {width: 15%;}
    td[data-col='eliminar'] {width: 15%;}
  }
}


.cfp-height{
  height: 300px;   
}


.seccion-height{
height: 150px;
}


.preguntas-height{
height: 300px;
}
