<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Mantenimiento de Lugares</h2>
    <ol class="breadcrumb">
      <li>
        <a >Inicio</a>
      </li>
      <li>
        <a>Configuración de Sistema</a>
      </li>
      <li class="active">
        <strong>Mantenimiento de Lugares</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-sm">
        <div class="col-md-2">
            <ng-select [items]="itemsFiltro" (ngModelChange)="cambioFiltro()"
                placeholder="Seleccionar Filtro" name="filtroLugares" autocomplete="off"
                [clearable]="false" [(ngModel)]="tipo">
            </ng-select>
        </div>
        <div class="col-md-4">
            <input type="text" autocomplete="off" class="form-control" name="filtro"
                maxlength="30" [(ngModel)]="filtro" (input)="buscarLugares()"
                onkeypress="return /^[a-zA-Z_0-9\s]*$/i.test(event.key)">
        </div>      
        <div class="col-md-4">
  
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="OnAgregar()"><i class="fa fa-plus"></i> Nuevo Lugar</button>
        </div>
    </div>

  <div class="row">
    <div class="col-lg-12">

      <div class="ibox-content" [ngClass]="{'sk-loading': loading}">
        <sk-three-bounce></sk-three-bounce>
        <div class="table-responsive">
          <table class="table table-striped table-hover issue-tracker">
            <thead>
            <tr>
              <th class="text-center">Código</th>
              <th class="text-center">Lugar</th>
              <th class="text-center">Estado</th>
              <th class="text-center">Editar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of itemsFiltrados; let i = index" (click)="OnRowClick(i, item)" [class.selected]="i == selectedRow">
              <td class="text-center"  data-col="codigo"><code>{{item.id}}</code></td>
              <td class="text-center" data-col="nombre">{{item.descripcion}}</td>
              <td class="text-center" data-col="estado" style="padding-left: 0">
                <span *ngIf="item.enabled==true" class="label" [class.label-success]="item.enabled==true">ACTIVO</span>
                <span *ngIf="item.enabled==false" class="label" [class.label-default]="item.enabled==false">INACTIVO</span>
              </td>
              <td class="text-center" data-col="editar" (click)="OnEditar(i)"><button class="btn btn-success"><i class="fa fa-edit"></i></button></td>
              <!-- <td class="text-center" disabled="disabled" data-col="fecha">{{item.fechaRegistro | date:'dd/MM/yyyy'}}</td> -->
            </tr>
            </tbody>
          </table>
        </div>
              <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                  <pagination [(ngModel)]="paginacion.pagina" (pageChanged)="OnPageChanged($event)" [totalItems]="paginacion.totalRegistros" [itemsPerPage]="paginacion.registros" [boundaryLinks]="true" [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="text-center m-a-sm">
                    <pagination-info [totalItems]="paginacion.totalRegistros" [itemsPerPage]="paginacion.registros" [page]="paginacion.pagina"></pagination-info>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="text-right m-a-sm">
                    <pagination-set (optionChanged)="OnPageOptionChanged($event)"></pagination-set>
                  </div>
                </div>
              </div>
      </div>
    </div>
  </div>
</div>


<!--PARA LA EDICION DE UN TIPO EVENTO-->
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
    class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 id="dialog-auto-name" class="modal-title pull-left">Edición de Lugar </h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="row m-b-sm">
                  <div class="row">
                      <label class="col-sm-2 control-label">Nombre(*):</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="descripcionModal"
                        name="subitulo">
                      </div>
                  </div>
                  <div class="row m-t-sm">
                      <label class="col-sm-2 text-left">Estado</label>
                        <div class="col-sm-8 text-left">
                          <ui-switch [(ngModel)]="estado"></ui-switch>
                        </div>
                  </div>
              </div>
              </div>
              <div class="form-group">
                  <div class="text-center">
                      <button (click)='OnNuevo()' class="btn btn-primary container-button"><i class="fa fa-save"></i>
                          Guardar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

<!-- PARA LA CREACION DE UN LUGAR -->
<div *ngIf="isNewModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoNewShownModal="bs-modal"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="dialog-auto-name" class="modal-title pull-left">Nuevo Lugar</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row m-b-sm">
                <div class="row">
                    <label class="col-sm-2 control-label">Nombre(*):</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" [(ngModel)]="descripcionModal"
                      name="subitulo">
                    </div>
                </div>
            </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button (click)='OnNuevo()' class="btn btn-primary container-button"><i class="fa fa-save"></i>
                        Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--ELIMINAR UN LUGAR-->
<div *ngIf="isDeleteModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoDeleteShownModal="bs-modal"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="dialog-auto-name" class="modal-title pull-left">Aviso</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row m-b-sm">
                <div class="row">
                      <h3 class="text-center">¿Eliminar permanentemente {{item.descripcion}} de la lista?</h3>
                </div>
            </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button (click)='OnConfirmar()' class="btn btn-primary container-button"><i class="fa fa-save"></i>
                        Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>