<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Eventos</h2>
    <ol class="breadcrumb">
      <li>
        <a>General</a>
      </li>
      <li>
        <a>Edicion Fases Ponencia</a>
      </li>
    </ol>
  </div>
</div>
<article class="wrapper wrapper-content animated fadeInRight">
  <div class="row m-b-sm">
    <div class="col-lg-12">
      <div>
        <button type="button" class="btn btn-success m-r" (click)="onGuardar()"><i class="fa fa-save"></i>
          Guardar</button>
        <a class="btn btn-default m-r" (click)="OnRegresar()"><i class="fa fa-arrow-left"></i> Regresar</a>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="evento && propuesta">
    <div class="col-lg-12">
      <tabset #tabsPropuesta>
        <tab heading="Propuesta" style="margin-top: 0;">
          <div class="mail-box-header">
            <detalle-propuesta #detallePropuesta *ngIf="propuesta && evento" [evento]="evento" [propuesta]="propuesta" (itemCodigo)="displayItem($event)"></detalle-propuesta>
          </div>
        </tab>
            <tab *ngFor="let fase of evento.fases; let i = index" [heading]="fase.descripcion" style="margin-top: 0;" [disabled]="listaBoolean[i] || propuesta.idPropuesta==null">
                <div class="mail-box-header" >
                  <fase-propuesta #fasePropuesta *ngIf="fase.formulario"
                  [fase]="fase"
                  [idFase]="fase.idFase" 
                  [idEvento]="evento.idEvento" 
                  [idFormulario]="fase.formulario.idFormulariocfp" 
                  [items]="fase.formulario.divisionList"
                  [index]="i"
                  ></fase-propuesta>
                </div>
              </tab>
      </tabset>
    </div>
  </div>
</article>