<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Eventos</h2>
    <ol class="breadcrumb">
      <li>
        <a>General</a>
      </li>
      <li>
        <a>Ponencia</a>
      </li>
    </ol>
  </div>
</div>
<article class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <tabset #tabsDetalle>
        <tab heading="Detalle" style="margin-top: 0;" *ngIf="item.idEvento">
          <div class="mail-box-header" style="border-top: 0;">
            <div class="row m-b-sm">
              <div class="col-md-8">
                <a class="btn btn-primary m-r-xs" [swal]="postularswal"><i class="fa fa-check"></i> Participar</a>
                <a class="btn btn-danger m-r-xs" (click)="OnRegresar()"><i class="fa fa-arrow-left"></i> Regresar</a>
              </div>
              <div class="col-md-4">
                <div class="pull-right">
                  <span class="m-r-xl"></span>
                  <strong class="small">Estado: </strong>
                  <span class="label label-primary" *ngIf="item.fechaInicio>now_date">En Proceso de Eleccion</span>
                  <span class="label label-red" *ngIf="!item.enabled">Cancelado</span>
                  <span class="label label-green" *ngIf="now_date>item.fechaInicio">Evento en Curso</span>
                </div>
              </div>
            </div>
            <div class="mail-tools">
              <div class="row">
                <div class="col-md-4">
                  <dl class="dl-horizontal">
                    <dt>Titulo: </dt>
                    <dd>{{item.descripcion}}</dd>
                    <dt>Tipo Evento:</dt>
                    <dd>{{item.tipoEvento.nombre}}</dd>
                  </dl>
                </div>
                <div class="col-md-4">
                  <dl class="dl-horizontal">
                    <dt>Fecha Inicio Evento:</dt>
                    <dd>{{item.fechaInicio | date:'dd/MM/yyyy'}}</dd>
                    <dt>Fecha Fin Evento:</dt>
                    <dd>{{item.fechaFin | date:'dd/MM/yyyy'}}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="mail-box">
            <div class="mail-body">
              <div class="row">
                <div class="col-md-6">
                  <dl>
                    <dt>Organizado Por:</dt>
                    <dd class="project-people">
                      <ul class="list-group">
                        <span>
                          <li class="list-group-item">
                            Responsable
                            <i class="fa fa-chevron-right text-muted m-l-sm m-r-sm"></i>
                            {{item.organizador.nombreCompleto}}
                          </li>
                        </span>
                      </ul>
                    </dd>
                    <dt>Presidente Asignado:</dt>
                    <dd class="project-people">
                      <ul class="list-group">
                        <span>
                          <li class="list-group-item">
                            Responsable
                            <i class="fa fa-chevron-right text-muted m-l-sm m-r-sm"></i>
                            {{item.presidente.nombreCompleto}}
                          </li>
                        </span>
                      </ul>
                    </dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl>
                    <dt>Fases de Aprobación:</dt>
                    <dd class="project-people">
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let e of item.fases; let i = index">
                          <strong>Fase {{i+1}}</strong>
                          <i class="fa fa-chevron-right text-muted m-l-sm m-r-sm"></i>
                          {{e.descripcion}}
                          <span class="badge badge-green" *ngIf="e.fechaInicial>now_date">Sin Iniciar</span>
                          <span class="badge badge-primary" *ngIf="e.fechaFin>=now_date && now_date>=e.fechaInicial">En
                            Curso</span>
                          <span class="badge badge-orange" *ngIf="now_date>e.fechaFin">Fuera de Fecha</span>
                        </li>
                      </ul>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <h5>Lugar:</h5>
                  <p>
                    {{item.lugar.descripcion}}
                  </p>
                </div>
                <div class="col-lg-12">
                  <h5>Categorías:</h5>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let e of item.categorias; let i = index">
                      <i class="fa fa-chevron-right text-muted m-l-sm m-r-sm"></i>
                      {{e.descripcion}}
                      <!-- <span class="badge badge-primary">En Curso</span>
                      <span class="badge badge-orange">Fuera de Fecha</span> -->
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</article>


<swal #postularswal type="question" title="¿Esta seguro de postular al evento?" confirmButtonText="Sí, continuar"
  cancelButtonText="No gracias" [showCancelButton]="true" [focusCancel]="true" (confirm)="OnPostular()"></swal>