<div class="row  m-b-sm m-l-sm">
    <div class="col-md-8">
        <div class="pull-left">
            <button type="button" class="btn btn-primary m-r" (click)="OnEnviar()" [disabled]="postulacion.idPostulacion==null || this.postulacion.estado == 'POSTULACION_EN_ESPERA' || this.postulacion.estado == 'POSTULACION_APROBADA'"><i class="fa fa-send"></i>
                Enviar Formulario</button>
                <!-- 
                <div class="fileinput fileinput-new m-r-xs" 
                    data-provides="fileinput"        
                    popover="Archivo Adjuntado"   
                    triggers="mouseenter:mouseleave">   
                    <span class="btn btn-info m-r btn-file" [class.disabled]="cargaAdjunto || loading">
                        <span class="fileinput-new">
                            <i [class]="(documentoAdjunto=='') ? 'fa fa-check' : 'fa fa-check'"></i> Adjuntar
                        </span>
                        <span class="fileinput-exists">
                            <i [class]="(documentoAdjunto=='') ? 'fa fa-check' : 'fa fa-check'"></i> Adjuntar
                        </span><input type="file" #file name="file" [disabled]="cargaAdjunto" (change)="OnAdjuntar(file)"/>
                        </span>
                </div>
                
                <strong class="small">Archivo: </strong><br>
                <a  #file_out type="file" (click)="OnVerAdjunto()"><i class="fa fa-file"></i> Archivo adjunto</a>
                
            <button type="button" class="btn btn-danger m-r" (click)="VerObservaciones()" [disabled]="postulacion.idPostulacion==null"><i class="fa fa-eye"></i>
                Observaciones</button> -->
        </div>
    </div>

    <div class="col-md-4">
        <div class="pull-right">
            <span class="m-r-xl"></span>
            <strong class="small">Estado: </strong>
            <span class="label label-disable" *ngIf="postulacion.estado==null">Fase Sin Guardar</span>
            <span class="label label-disable" *ngIf="postulacion.estado!='POSTULACION_EN_ESPERA' && postulacion.estado!='POSTULACION_EN_CURSO' && postulacion.estado!='POSTULACION_APROBADA' && postulacion.estado!='POSTULACION_RECHAZADA' && postulacion.estado!=null" >Fase Sin Enviar</span>
            <span class="label label-primary" *ngIf="postulacion.estado=='POSTULACION_EN_CURSO'">Fase En Evaluación</span>
            <span class="label label-green" *ngIf="postulacion.estado=='POSTULACION_APROBADA'">Fase Aprobada</span>
            <span class="label label-red" *ngIf="postulacion.estado=='POSTULACION_RECHAZADA'">Fase Rechazada</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox-content" [ngClass]="{'sk-loading': loading}">
            <sk-three-bounce></sk-three-bounce>
            <div class="fh-breadcrumb">
                <div class="full-height">
                    <div class="full-height-scroll white-bg">
                        <div class="ibox-content">
                            <div *ngFor="let division of items; let divIndex = index">
                                <div class="form-group">
                                    <div class="text-center">
                                        <h4><strong>{{divIndex+1}}-{{division.descripcion}}</strong></h4>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div *ngFor="let seccion of division.seccionList">
                                        <div *ngIf="seccion.tipoSeccion=='PREGUNTA ABIERTA'">
                                            <div class="ibox-content">
                                                <div class="row">
                                                    <!-- <div class="col-lg-3">
                                                            <label style="text-align: right;">
                                                                {{seccion.preguntaList[0].descripcion}}</label>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <textarea type="text" [disabled]="true" rows="3"
                                                                class="form-control"></textarea>
                                                        </div> -->
                                                    <div class="col-lg-9">
                                                        <div
                                                            *ngFor="let pregunta of seccion.preguntaList; let i = index">
                                                            <div class="row m-b-sm">
                                                                <label class="col-sm-4"
                                                                    style="text-align: left;">{{divIndex+1}}.{{i+1}}-
                                                                    {{pregunta.descripcion}}</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control"
                                                                        [(ngModel)]="itemsRepuesta[divIndex][i].respuesta"
                                                                        name="pregunta-{{division.indice}}-{{seccion.indice}}-{{i}}}"
                                                                        placeholder="Máximo {{pregunta.maxCaracteres}} caracteres"
                                                                        maxlength="{{pregunta.maxCaracteres}}"
                                                                        [disabled]="postulacion.estado=='POSTULACION_EN_CURSO' || postulacion.estado == 'POSTULACION_APROBADA'"
                                                                        >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="seccion.tipoSeccion=='PREGUNTA MULTIPLE'">
                                            <div class="ibox-content">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label
                                                            style="text-align: right;">{{division.indice}}.{{seccion.indice}}-{{seccion.descripcion}}</label>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="col-sm-3"
                                                            *ngFor="let pregunta of seccion.preguntaList; let i = index">
                                                            <div class="checkbox checkbox-primary">
                                                                <input name="pregunta"
                                                                    id="pregunta-{{division.indice}}-{{seccion.indice}}-{{i}}}"
                                                                    value="{{pregunta}}" type="checkbox"><label
                                                                    for="pregunta-{{division.indice}}-{{seccion.indice}}-{{i}}}">{{pregunta.descripcion}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="seccion.tipoSeccion=='PREGUNTA FORMULARIO'">
                                            <div class="ibox-content">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label
                                                            style="text-align: right;">{{division.indice}}.{{seccion.indice}}-{{seccion.descripcion}}</label>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div
                                                            *ngFor="let pregunta of seccion.preguntaList; let i = index">
                                                            <div class="row m-b-sm">
                                                                <label class="col-sm-4"
                                                                    style="text-align: right;">{{pregunta.descripcion}}</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control"
                                                                        name="pregunta-{{division.indice}}-{{seccion.indice}}-{{i}}}"
                                                                        [disabled]="true">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>