<div class="ibox-content" style="border-top: 0;" [class.sk-loading]="loading" id='tableEvaluador'>

  <sk-three-bounce></sk-three-bounce>


  <div class="row col-md-12">
      <div class="col-md-4">
          <a class="btn btn-primary m-r" (click)="onGuardarCambiosEvento()"><i class="fa fa-check"></i> Guardar </a>
          <a class="btn btn-default m-r" (click)="OnRetroceder()"><i class="fa fa-arrow-left"></i> Regresar</a>
      </div>
      <div class="text-center col-md-4" style="margin-left: auto; margin-right: auto;">
        <button class="btn btn-primary" (click)="onAgregarEvaluador()" [swal]="visorAgregarEvaluador"><i
            class="fa fa-eye"></i>
          Agregar evaluador</button>
      </div>
      <div class="col-md-4"></div>
  </div> 
  <br>
  <div class="row">&nbsp;</div>
  <br>


  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox-content" [ngClass]="{'sk-loading': loading}">
          <sk-three-bounce></sk-three-bounce>
          <div class="table-responsive">
            <table class="table table-striped table-hover issue-tracker">
              <thead>
                <tr>
                  <th class="text-left">Username</th>
                  <th class="text-left">Nombre</th>
                  <th class="text-left">Correo</th>
                  <th class="text-center">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of comiteElegido; let i = index" [class.selected]="i == selectedRow">
                  <td class="text-left" data-col="username"><code>{{item.username}}</code></td>
                  <td class="text-left" data-col="nombre">{{item.nombreCompleto}}</td>
                  <td class="text-left" data-col="email">{{item.email}}</td>

                  <td class="text-center" data-col="Quitar" (click)="onQuitar(item,i)"><button class="btn btn-danger"><i
                        class="fa fa-trash"></i></button></td>

                </tr>
              </tbody>
            </table>
          </div>
<!-- 
          <div class="text-left">
            <button type="button" class="btn btn-success m-r" (click)="onGuardarCambiosEvento()"><i
                class="fa fa-save"></i>
              Guardar Cambios</button>
          </div>
 -->
        </div>
      </div>
    </div>
  </div>


</div>

<script>
  function alphaOnly(event) {
    var key = event.keyCode;
    return ((key >= 65 && key <= 90) || key == 8);
  }
</script>

<swal #visorAgregarEvaluador title="Agregar Evaluador" width='600px' customClass="agregar-evaluador"
  [showCancelButton]="false" [focusConfirm]="true" [allowOutsideClick]="true" [showConfirmButton]="false">
  <div *swalPartial>
    <agregar-evaluador [items]="evaluadoresDisponibles" (nuevoComiteDisp)='onNuevoComiteDisp($event)'
      (valueChange)='getList($event)'></agregar-evaluador>
  </div>
</swal>